


@font-face {
    font-family: 'GenomUltra';
    src: url("../assets/fonts/Geom Ultra.ttf");
}



body {
    height: 100vh;
}

.nav-logo h1 {
    color: #fe8b00;
}

.products {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    left: 15rem;
    right: 15rem;
    top: 8rem;
    bottom: 8rem;
    border-radius: 10px;
    background-image: url("../assets/images/products_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -4rem;
    scroll-snap-type: y proximity;
}
.products h1 {
    font-size: 3rem;
    position: relative;
    left: 25%;
    color: #fe8b00;
    scroll-snap-align: start;
    scroll-margin-top: 4rem;
    font-family: GenomUltra;
}
.products h2 {
    font-size: 1.25rem;
    position: relative;
    left: 25%;
    color: #686868;
}

.products li {
    scroll-snap-align: start;
    list-style-type: none;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    scroll-margin-top: 1rem;
    margin-bottom: 1.5rem;
    height: 6rem;
    width: 95%;
    transition: all 200ms ease-in-out;
}
.products li > img {
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    width: 1.75rem;
    height: 5rem;
}

.products li div {
    position: absolute;
    top: 0;
    margin-left: 5rem;
}
.product_name {
	position: absolute;
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #101010;
}
.product_price {
	position: absolute;
    margin-top: 3.5rem;
    color: #484848;
}

.products button {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 3rem;
    visibility: hidden;
    margin-top: 2rem;
    margin-right: 2rem
}
.products button svg {
    visibility: visible;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.products button svg:hover {
    fill: #fe8b00;
}



.totalPrice {
    position: absolute;
    height: 2.5rem;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

    font-family: GenomUltra;
    font-size: 1.25rem;
    color: #fe8b00;
}

.zurKasseButton {
    position: absolute;
    text-align: center;
    width: 8rem;
    height: 2.5rem;

    bottom: 2rem;
    left: calc(50% - 4rem);

    border: #fe8b00 solid;
    border-radius: 10rem;
    border-width: 3.5px;
    background-color: transparent;
    color: #fe8b00;
    font-weight: bold;
    transition: all 250ms ease-in-out;
}
.zurKasseButton:hover {
    background-color: #fe8b00;
    color: white;
    cursor: pointer;
}