

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'GenomUltra';
    src: url("../assets/fonts/Geom Ultra.ttf");
}


* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    height: 200rem;
	background-color: #202125;
}


#content {
	
	display: flex;
	justify-content: center;
	
	margin-top: 10rem;
	color: #E2E5DE
	
}